/* .title-center-box {
    margin-top: 99px;
  } */
  /* font: 700 35px 'Montserrat-VariableFont', sans-serif; */
 
  .space-btn1 {
    margin-top: 3.3rem;
    /* margin-top: 6.25rem; */
    padding: 12px 20px;

  }
  .space-btn2 {
    /* margin-top: 21px; */
    margin-top: 1.25rem;
    padding: 12px 20px;
  }