/* .title-center-box {
    margin-top: 99px;
  } */
  /* font: 700 35px 'Montserrat-VariableFont', sans-serif; */
  /* .title-black {
    color: var(--royal-text, #046cac);
    font-weight: 700;
    font-size: 1rem;
    text-align: center;
    width: auto;
    max-width: 300px;
  } */
  .space-btn1 {
    margin-top: 38px;
    padding: 12px 20px;

  }
  .space-btn2 {
    margin-top: 21px;
    padding: 12px 20px;
  }