.img-thankyou {
    aspect-ratio: 1.14;
    object-fit: auto;
    object-position: center;
    width: 120px;
    align-self: center;
    max-width: 100%;
    margin: 40px 0 0;
}
.title-thankyou {
    color: var(--title-color, #046cac);
    letter-spacing: 0.6px;
    margin-top: 54px;
    font: 700 15px 'Montserrat-Bold', sans-serif;
    width: 85vw;
}
.space-btn-thankyou {
    margin-top: 81px;
    letter-spacing: 0.36px;
    padding: 14px 60px 8px;
    font: 700 11px 'Montserrat-Bold', sans-serif;
}