.service-btn-box {
    display: flex;
    flex-grow: 1;
    flex-basis: 0%;
    flex-direction: column;
    justify-content: center;
  }

  .service-text {
    color: var(--primary-blue, #0058a6);
    text-align: center;
    letter-spacing: 0.56px;
    text-transform: capitalize;
    border-radius: 5px;
    border: 3px solid var(--primary-blue, #0058a6);
    background-color: #fff;
    font: 600 14px 'Montserrat-Bold';
    height: 52px;
  }

  /* .service-aligned-box {
    align-self: start;
    display: flex;
    width: 500px;
    max-width: 100%;
    justify-content: space-between;
    gap: 20px;
    margin: 191px 0 0 105px;
  } */

  .btn-services {
    justify-content: center;
    color: #fff;
    text-align: center;
    letter-spacing: 0.56px;
    text-transform: capitalize;
    white-space: nowrap;
    border-radius: 2px;
    /* border: 1px solid var(--ROYAL-BLUE, #005eb8); */
    background-color: var(--primary-blue, #0058a6);
    margin-top: 7px;
    flex-grow: 1;
    align-items: center;
    padding: 21px 60px;
    font: 600 14px 'Montserrat-Bold';
  }

  .title-default {
    color: #000;
    font: 700 12px 'Montserrat-Bold';
    text-align: center;
    text-transform: uppercase;
  }
  .title-modal {
    justify-content: center;
    color: #000;
    text-align: center;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-top: 20px;
    font: 700 15px 'Montserrat-Bold';

  }

  .title-services-text {
    letter-spacing: 0.28px;
    width: 735px;
  }

 
  /* modal style */
  
      .modal-desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        letter-spacing: 0.48px;
        align-self: center;
        margin-top: 21px;
        font: 400 12px 'Montserrat-Regular';
        flex-shrink: 0;
        color: #fff;
        text-align: left;
      }
      
      .btn-outline-colors{
        border: 3px solid var(--primary-blue, #0058a6);
        background-color: #fff;
        color: #005eb8;
      }

      /* #transparentmodal-serviceinfo {
        display: none;
      } */
      /* new style */

/*   
      .service-aligned-box {
        align-self: start;
        display: flex;
        width: 165px;
        max-width: 100%;
        justify-content: space-between;
        gap: 6.6px;
        margin: 63px 0 0 34px;
      } */
/*   
      .service-info-icon {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        width: 19px;
        overflow: hidden;
        align-self: start;
        max-width: 100%;
        margin-left: 13px;
      } */
  
      /* .button-outline {
        width: 132px;
        height: 37px;
        flex-shrink: 0;
        border-radius: 12px;
        border: 2px solid var(--primary-blue, #0058a6);
        background-color: #fff;
        display: flex;
        min-height: 37px;
        max-width: 132px;
        flex-direction: column;
      } */
  
  
      /* .services-list-box {
        margin-top: 15px;
        width: 190px;
        padding: 3px;
        height: 319px;
        overflow: auto;
        scroll-behavior: auto;
  
      } */
      .button-service-item {
        margin-top: 13px;
      }
      /* clone */
      .service-btn {
        border-radius: 10px;
        display: flex;
        flex-grow: 1;
        flex-basis: 0%;
        flex-direction: column;
        justify-content: center;
        width: 174px;
        height: 4em;
      }
  
      .service-text {
        color: #fff;
        text-align: center;
        letter-spacing: 0.96px;
        text-transform: uppercase;
        /* width: 400px; */
        border-radius: 6px;
        border: 1px solid #fff;
        background-color: var(--royal-blue);
        /* justify-content: center; */
        /* align-self: center; */
        /* padding: 44px 60px; */
        font: 700 15px Montserrat, sans-serif;
        height: 27px;
        padding-right: 3.6px;
        padding-left: 3.6px;
  
      }
  
      .service-aligned-box {
        align-self: start;
        display: flex;
        width: 150px;
        max-width: 100%;
        justify-content: space-between;
        gap: 6px;
        margin: 63px 0 0 31px;
      }
  
      .service-info-icon {
        aspect-ratio: 1;
        object-fit: contain;
        object-position: center;
        width: 19px;
        overflow: hidden;
        align-self: start;
        max-width: 100%;
        margin-left: 10px;
      }
  
      .button-outline {
        width: 120px;
        height: 31px;
        flex-shrink: 0;
        border-radius: 12px;
        border: 1px solid var(--primary-blue, #0058a6);
        background-color: #fff;
        display: flex;
        min-height: 31px;
        max-width: 120px;
        flex-direction: column;
      }

      #walkin-services-list.button-wide {
        font: 500 9px 'Montserrat-meduim'
      }
  
      .services-list-box-2nd {
        margin-top: 16.5px;
        width: 100%;
        padding: 3px;
        height: 315px;
        overflow: auto;
        scroll-behavior: auto;
      }
      /* new cat design */
      .services-list-box {
        margin-top: 46px;
        justify-content: center;
        overflow-y: auto;
        scroll-behavior: auto;
        height: 23rem;
        /* border-bottom: 1px solid #777; */
      }
      .cat-img-box {
        border-radius: 8px;
        background-color: #0068a9;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px 10px;
        width: 15rem;
        max-width: 100%;
        min-height: 6rem;
      }

      /* .img-rat{
        object-fit: auto;
        object-position: center;
        width: 5.5rem;
        aspect-ratio: 1.4;
      } */
      .cat-img-box img {
        aspect-ratio: 1.2;
      }

      .cat-text {
        /* color: var(--title-color, #046cac); */
        color: #fff;
        text-align: center;
        letter-spacing: 0.28px;
        text-transform: capitalize;
        align-self: center;
        /* margin-top: 9px; */
        font: 600 14px 'Montserrat-SemiBold', sans-serif;
      }

      .space-btn-back {
        letter-spacing: 0.36px;
        padding: 14px 60px 8px;
        font: 700 11px 'Montserrat-Bold', sans-serif;
      }


/* end cat */
      .button-service-item {
        margin-top: 15px;
      }
          
          .space-btnmodal-yes {
      margin-top: 13px;
      /* width: 225px; */
      max-width: 100%;
      align-items: center;
      padding: 12px 20px;
    }
    
    
    
    .separate-modal-line {
      width: 100%;
      height: 1px;
      background-color: #fff;
      margin: 3px 0;
    }

    .category-btn-box {
      width: 8rem;
      max-width: 10rem;
      margin-bottom: 10px;
    }

    @media screen and (min-width: 768px) {
      .cat-text{
        font-size: 12px;
      }
      .cat-img-box{
        padding: 20px 15px;
        width: 16rem;
        min-height: 8rem;
      }
      .category-btn-box{
        width: 12rem;
      }
      .modal-desc{
        font-size: 12px;
      }

    }