/* text title */
.title-black {
    color: var(--royal-text, #046cac);
    /* font: 900 1rem 'Montserrat-VariableFont', sans-serif; */
    text-align: center;
    letter-spacing: 0.6px;
    /* width: 15rem; */
    font-size: 15px;
    max-width: 85vw;

  }
  .title-box {
    margin-top: 2rem;
    /* margin-top: 5rem; */
  }
  .mini-gray-text {
    color: #777;
    font: 900 0.8rem 'Montserrat-Bold', sans-serif;
    text-align: center;
    /* letter-spacing: 0.48px; */
    width: 100vw;
  min-height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reorder-text {
  order: 1;
}

/* modal exit home */
.transparent-bg {
    background-color: rgba(0, 0, 0, 0.6);
    /* display: none; */
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
  }
 
  .modal-box {
    margin: auto auto 0px;
    width: 15rem;
    min-height: 9rem;
    /* flex-shrink: 0;  */
    margin-top: 11rem;
    padding: 3rem 1rem;
    border-radius: 15px;
    border: 3px solid var(--royal-blue, #0058a6);
    background-color: var(--royal-blue, #0058a6);
    z-index: 10;
    display: flex;
    color: #fff;
    align-self: center;

  }
  .title-modal-white {
    color: white;
    font: 700 11px 'Montserrat-Bold';
    text-align: center;
    width: 13rem;
  }
  /* .title-modal-white {
    color: white;
    font: 700 15px Montserrat, sans-serif;
    text-align: center;
    width: 204px;
  } */

  .space-modal-title {
    margin-top: 20px;
    /* border-bottom: white; */
    /* border: 2px solid white;
    border-top: 0;
    border-left: 0;
    border-right: 0; */
    padding-bottom: 6px;
  }
  .modal-btns-box {
    margin-top: 1px;
  }
  .space-btnmodal-yes {
    margin-top: 22px;
    width: 15rem;
    max-width: 100%;
    align-items: center;
    padding: 10rem 16.5rem;
  }
  .space-btnmodal-no {
    margin-top: 9.6px;
    width: 15rem;
    max-width: 100%;
    align-items: center;
    padding: 10rem 16.5rem;
  }
  .space-btnmodal-proceed {
    margin-top: 6.6px;
    width: 15rem;
    max-width: 100%;
    align-items: center;
    padding: 24px 16.5rem;
  }
  .space-btn-close {
    margin-top: 6.6px;
    width: 270px;
    max-width: 100%;
    align-items: center;
    padding: 38px 60px;
  }
  .more-bold {
    font-weight: 800;
  }
  .tt-cap {
    text-transform: capitalize;
  }
  /* input */
  .input-mobile-box {
    padding-bottom: 12px !important;
  }
  .input-box {
    color: black;
    /* letter-spacing: 0.72px; */
    letter-spacing: 4.6px !important;
    
    /* text-transform: capitalize; */
    text-align: start;
    border: 1px solid #777;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    font: normal 500 11px "Montserrat-Bold", -apple-system, Roboto, Helvetica,
      sans-serif;
    /* height: 16px; */
  }
  .input-box:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid transparent;
    border-bottom: 1px solid #000;
  }
  .input-box::placeholder {
    color: var(--gray-text, #777);
    font: normal 9px 'Montserrat';
    text-transform: capitalize;
    letter-spacing: 4.6px !important;
    padding: 0 0 12px;
    margin-left: 6.6 !important;
    margin-bottom: 2rem !important;
    font-size: 10px;
    font-weight: 500;
  }
  #phonenumber::placeholder {
    height: 80px;
  }
  /* buttons */
  .header-homecircle-img {
    position: fixed;
    left: 35px;
    top: 24px;
    max-width: 30px;
  }
  
  .header-backcircle-img {
    position: fixed;
    left: 70px;
    top: 24px;
    max-width: 30px;
  }
  .header-homecirclebk-img {
    position: fixed;
    left: 70px;
    top: 24px;
    max-width: 30px;
  }

  .btn-black-box {
    margin-top: 3rem;
  }
  .btn-backcircle-img {
    max-width: 30px;
  }

  .half-width {
    width: 9rem !important;
  }
  .button-wide {
    justify-content: center;
      text-align: center;
      letter-spacing: 1px;
      border-radius: 12px;
      align-self: center;
      width: 15rem;
      max-width: 100%;
      font: 700 11px 'Montserrat-Bold';
      z-index: 10;
      padding: 11px 16.5px !important;
      /* min-height: 3rem; */
      /* box-shadow: 1px 1px 0px var(--royal-blue); */
  }
  .button-outline-clr {
    border: 1px solid var(--royal-blue, #0068a9);
    background-color: #fff;
    color: var(--royal-blue, #0068a9);
  }
  .button-fill-clr {
    /* border: 1px solid #fff; */
    border: none;
    background-color: var(--royal-blue, #0068a9);
    color: #fff;
  }
  .btn-service{
    height: 4em;
  }
  .no-scroll{
    overflow: hidden;
  }
  .btn-form-proceed {
    margin-top: 2.5rem;
  }
   /* phone international */
   .iti__flag-container {
    font-size: 8px !important;
    padding: 0 0 3px !important;
  }
  .iti__flag {
    scale: 1.6 !important;
    margin-right: 5px;
  }
  .iti__flag-box, .iti__country-name {
    margin-right: 9px !important;
  }
  .iti__dial-code {
    font-size: 9px !important;
  }
  .iti.iti--container {
    font-size: 15px !important;
    /* height: 6.6%; */
  }
  .iti--separate-dial-code .iti__selected-flag {
    font-weight: bold;
    letter-spacing: 3.75px;
    font-size: 8.25px;
    background-color: rgba(0, 0, 0 , 0.02) !important;
  }
  .iti__dropdown-content {
    height: 33%;
  }
  .iti__country-list {
    width: 90vw;
  }
.turn-title{
  font-size: 22px;
}

/* common css */
@media screen and (min-width: 768px) {
  .footer-text-connectWorld{
    font-size: 1.5rem;
    bottom: 1.875rem;
  }
  .welcome-body {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
  }

  .title-black{
    font-size: 1.6rem;
  }
  .button-wide {
    font-size: 0.7rem;
  }

  .input-box::placeholder {
    font-size: 13px;
    font-weight: 500;
  }
}
