.footer-container {
    display: flex;
    align-items: flex-end;
}
/* .footer-blue-section {
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: flex-start;
} */
.footer-img-icon {
    aspect-ratio: 3.85;
    object-fit: contain;
    object-position: center;
    width: 100%;
    fill: var(--royal-blue, #005eb8);
    margin: 0px 0px -10px 0px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    z-index: 5;
}

.footer-section {
    height: 15vh;
    width: 100%;
    
}

.footer-ff-ar {
    font-family: "Montserrat-Black";
    font-weight: 900;
    /* font: 900 12px "Montserrat-Black"; */
}

.footer-text-connectWorld {
    position: fixed;
    bottom: 0.2rem;
    left: 0;
    width: 100%;
    color: #fff;
    padding: 10px;
    text-align: center;
    transform: translateY(50%);
    z-index: 6;
    font: 500 12px "Montserrat-Bold";
}