.queue-item.selected {
    font: 700 18px 'Montserrat-VariableFont', sans-serif;
    color: #fff;
    background: var(--royal-blue, #0068a9);
    /* width: 12vw; */
    height: 13vw;
    max-width: 50px;
    max-height: 70px;
    display: inline-table;
    /* margin: 0 4px; */
    border: 3px solid #fff;
    border-radius: 8px;
}
.hidden-color {
    background-color: transparent !important;
}
.queue-item {
    vertical-align: middle;
    display: inline-block;
    color: rgba(62, 177, 200, 0.6);
}
.queue-item.other{
    background: rgba(62, 177, 200, 0.6);
    width: 8.5vw;
    height: 8.5vw;
    font-size: 13px;
    max-width: 40px;
    max-height: 34px;
}
.queue-item.first-element {
    border-radius: 0 8px 8px 0 !important;
}
.queue-item.last-element {
    border-radius: 8px 0 0 8px !important;
}
.child-center {
    display: inline-block;
    vertical-align: middle;
}
.you-text {
    font:  700 8px 'Montserrat-VariableFont', sans-serif;
    color: #fff;
    text-align: center;
}
.line-bg {
    background-color: rgba(62, 177, 200, 1);
    border-radius: 8px;
    position: absolute;
    margin: auto;
    width: 286px;
    height: 5vh;
    text-align: center;
    z-index: 0;
}