.queue-item.selected {
    font: 700 25px 'Montserrat-VariableFont', sans-serif;
    color: #fff;
    background: var(--royal-blue, #0068a9);
    width: 12vw;
    height: 15.5vw;
    max-width: 54px;
    max-height: 64px;
    display: inline-table;
    /* margin: 0 4px; */
    border: 3px solid #fff;
    border-radius: 8px;
}
.hidden-color {
    background-color: transparent !important;
}
.queue-item {
    vertical-align: middle;
    display: inline-block;
    color: rgba(62, 177, 200, 0.6);
}
.queue-item.other{
    background: rgba(62, 177, 200, 0.6);
    width: 7.5vw;
    height: 8.5vw;
    font-size: 14px;
    max-width: 34px;
    max-height: 34px;
}
.queue-item.first-element {
    border-radius: 0 8px 8px 0 !important;
}
.queue-item.last-element {
    border-radius: 8px 0 0 8px !important;
}
.child-center {
    display: inline-block;
    vertical-align: middle;
}
.you-text {
    font:  700 8px 'Montserrat-Bold', sans-serif;
    color: #fff;
    text-align: center;
}
.line-bg {
    background-color: rgba(62, 177, 200, 1);
    border-radius: 8px;
    position: absolute;
    margin: auto;
    width: 292px;
    height: 5vh;
    text-align: center;
    z-index: 0;
}

@media screen and (min-width: 768px) {
    .you-text{
        font-size: 10px;
    }

    .queue-item.selected{
        font-size: 26px;
        max-width: 52px;
        max-height: 65px;
    }
    .queue-item.other{
        font-size: 18px;
        max-width: 50px;
        max-height: 35px;
    }
    .line-bg{
        height: 6vh;
        width: 25.9rem;
    }
    .ticket-details-box{
        max-width: 25.6rem;
    }
    /* .mainLineText{
        font-size: 22px;
    } */
}


/* .extra-queue::after {
    content: '...';
} */
.mainLineContainer {
    /* position: relative; */
    z-index: 1;
  }
  

  .threeDots {
    letter-spacing: 0.1rem;
    margin-left: 2px;
    padding-left: 8px;
    width: 10px;
    max-width: 1.2rem;
    background: rgba(62, 177, 200, 0.6);
    height: 8.5vw;
    font-size: 14px;
    max-width: 15px;
    max-height: 34px;
    margin-bottom: 9px;
  }

  /* .threeDots::before {
    content: "...";
    font-size: 1.3rem !important;
    position: absolute;
    top: -5px;
    right: 0;
    margin-left: -7px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
  } */

  /* .threeDots {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-size: contain; 
  } */