/* layout styles */
.h-12 {
  height: 12vh;
}
.h-15{
  height: 15vh;
}
.h-20{
  height: 20vh;
}
.h-25{
  height: 25vh;
}
.h-30{
  height: 30vh;
}
.h-50 {
  height: 50vh;
}
.h-60 {
  height: 60vh;
}
.h-65 {
  height: 65vh;
}
.h-70 {
  height: 70vh;
}
.mt-2{
  margin-top: 10px;
}
.m-2{
  margin: 10px 0px;
}
:root {
  --royal-blue: #0068a9;
  --royal-text: #046cac;
  --alert-color: #dd4452;
  --sky-blue : #2cb1cb;
  --gray-text : #777;
  --title-color: #046cac;

  --primary-color: #42B0D5;
  --btn-color: #38a1d0;
  --btn-hover-color: #003d6d;
  --secondary-color: #141414;
  --bg-sec-color: rgba(175,161,143,.3);
  --light-color: #fff;
  --border-color: #dbdbdb;
  --text-color: #545454;
  
}
@font-face {
  font-family: 'Montserrat-VariableFont';
     src: url('./fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Bold';
     src: url('./fonts/static/Montserrat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Black';
     src: url('./fonts/static/Montserrat-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-SemiBold';
     src: url('./fonts/static/Montserrat-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Medium';
     src: url('./fonts/static/Montserrat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Italic';
     src: url('./fonts/static/Montserrat-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font: 700 22px 'Montserrat-VariableFont', sans-serif;
}
/*  */
.ff-italic {
  font-family: 'Montserrat-Italic' , -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
.ff-vf {
  font-family: 'Montserrat-VariableFont' , -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}
.ff-bold {
  font-weight: 700;
  font-family: 'Montserrat-Bold' , -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;;
}
.ff-black {
  font-weight: 900;
  font-family: 'Montserrat-Black' , -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;;
}
.ff-semibold {
  font-weight: 600;
  font-family: 'Montserrat-SemiBold' , -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;;
}
.ff-medium {
  font-weight: 600;
  font-family: 'Montserrat-Medium' , -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;;
}
.text-center {
  text-align: center;
}
.page-layout {
  width: 100%;
  overflow: auto;
  height: 70vh;
  align-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  display: flex;
}
.page-start-layout {

}

/* DPW STYLE */
/* common */

.button-default {
  justify-content: center;
    text-align: center;
    
    /* text-transform: uppercase; */
    border-radius: 12px;
    
    max-width: 100%;
    font: 700 13px 'Montserrat-VariableFont';
}
.button-outline {
  color: var(--primary-blue, #0058a6);
  border: 1px solid var(--primary-blue, #0058a6);
  background-color: #fff;
}
.button-fill {
    border: 1px solid #fff;
    background-color: var(--royal-blue);
    color: #fff;
}
/* titles */

/* get started page */
.jafza-logo-big {
  aspect-ratio: 1.37;
  object-fit: contain;
  object-position: center;
  width: 55vw;
  margin-top: 40px;
  max-width: 100%;
}

.btn-walkin {
  padding: 22px 46px;
  margin-top: 44px; 
  letter-spacing: 0.52px;
  width: 155px;
}
.btn-app {
  padding: 14px 24px;
  margin-top: 68px;
  letter-spacing: 0.52px;
  width: 270px;
}
.btn-getstarted {
  padding: 14px 24px;
  margin-top: 68px;
  letter-spacing: 0.52px;
  width: 270px;
}
/* modal exit home */

.space-btnmodal-yes {
  margin-top: 146px;
  width: 270px;
  max-width: 100%;
  align-items: center;
  padding: 14px 26px;
}
/* .space-btnmodal-no {
  margin-top: 49px;
  width: 364px;
  max-width: 100%;
  align-items: center;
  padding: 14px 26px;
} */
.space-btnmodal-proceed {
  margin-top: 49px;
  width: 364px;
  max-width: 100%;
  align-items: center;
  padding: 24px 60px;
}
/* .modal-desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #000;
  letter-spacing: 1.04px;
  text-transform: uppercase;
  align-self: center;
  margin-top: 206px;
  font: 400 26px 'Montserrat-VariableFont';
  width: 661.071px;
  height: 170.588px;
  flex-shrink: 0; 
  color: #000;
} */
/* .space-modal-title {
  margin-top: 18px;
} */
.btn-outline-colors{
  border: 3px solid var(--primary-blue, #0058a6);
  background-color: #fff;
  color: #005eb8;
}


/* end of dpw style */







/*  */
/* ticket queue */
.ticket-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.queue-line {
  font-size: 28px;
}
/*  */
.layout-footer {
  position: absolute;
  bottom: 5vh;
  left: 5vw;
}
.ticket-box{
  text-align: center;;
  padding: 50px 0px;
}
.ticket-box.queue{
  background-color: #deedf6;
}
.error{
  color: red;
  /* display: none; */
}

.text-red {
  color: red;
}
.ticket-box.called{
  background-color: var(--primary-color);
  color:white;
}
.w-80{
  width: 80vw;
}
.branch-title {
  
}
.btn:hover {
  background-color: #04243c !important;
  color: white !important;
}
.submit-phone-btn {
  position: absolute;
  bottom: 0;
  width: 85%;
}
.iti {
  /* display: block !important; */
}
.gray-200 {
  background: #e9ecef !important;
}

.branch-btn{
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #deedf6;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  padding: 7px 16px 9px;
  position: relative;
  text-decoration: none;
  vertical-align: top;
  background-color: #42b0d5;
  border-color: transparent;
  box-shadow: none;
  color: #fff;
  height: 70px;
}

.branch-btn span{
  font-weight: bold;
  font-size: 18px;
}
.branch-btn p{
  margin: 0;
}

.service input:checked+label{
  background-color: #0079C2;
  color: white;
}

.box{
  min-height: 400px;
  max-height: 65vh;
  /* max-height: 600px; */
  overflow-y: auto;
  overflow-x: hidden;
}
/* custom */
.header-image {
  width: 50vw;
}
.welcome-text {
  height: 50vh !important;
}
.welcome-text h3 {
  text-align: center;
  font-size: 1.2rem;
}
.welcome-wrapper {
  position: relative;
  height: 70vh;

}
.welcome-buttom-box button {
  border-radius: 5px;
  padding: 1rem auto;
  border: var(--border-color);
}


/* .welcome-wrapper{ background: url('./images/maersk-mobile1.jpg') center center transparent no-repeat; background-size: auto; } */

/* @media only screen and (min-width: 786px) {
  .welcome-wrapper{ background: url('./images/maersk-full.jpg') center center transparent no-repeat; background-size: auto; }
} */

.thankyou-box {
  justify-content: center;
    align-items: center;
}
.otp-error{
  margin-top: 35px;
}
.directionRtL{
  direction: rtl;
  text-align: right;
}

#loading_wrap{
  display:block;
   position:absolute;
   background-color:#000000;
   text-align: center;
  vertical-align: middle;
  height:100%;
   width:100%;
   top:0;
   left:0;
   opacity: 0.8;
   filter: alpha(opacity=80);
   z-index: 100002000;

}

#loading-inner{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;

}

#loading-inner svg{
  width: 30%;
}
#walkinShare{
  margin-bottom: 3rem;
}
#welcomeNote{
  color: white;
  font-size: 17px;
  font-weight: bold;
  position: fixed;
  margin-top: 60px;
}